---
layout: default
---

<section class="section card">
  <div class="container">
    <h1 class="title">{{ page.title }}</h1>
    <div class="content">
      {{ content }}
    </div>
  </div>

  <div class="block chapter-nav">
    {% if page.previous %}
      <a class="button" href="{{ page.previous.url | relative_url }}">Previous Chapter</a>
    {% endif %}

    {% if page.next %}
      <a class="button is-primary" href="{{ page.next.url | relative_url }}">Next Chapter</a>
    {% endif %}
  </div>

  <div class="block">
    <a class="button" href="{{ "/" | relative_url }}">Home</a>
  </div>
</section>
